<div class="row">

  <div class="offset-md-2 col-md-8">
   	<div class="form_background">
      <h2>PRIVACY POLICY</h2>

      <h4 style="font-weight: normal">
       Welcome to Properdeed
      </h4>
      
      <p>
        Your privacy is important to us. In this Privacy Policy you can read which Personal Data we process and how we store, protect and use your Personal Data. Furthermore you can read for which purposes and on which legal grounds we use your Personal Data and how you can exercise your privacy rights.
		  </p>
			
      <p>
        <b>Personal Data</b><br>
        In this Privacy Policy, your “Personal Data” means information or pieces of information that could allow you to be identified.
		  </p>
			
      <p>
        <b>Applicability</b><br>
        This Privacy Policy applies to all your use of the exclusive online contacts platform, Properdeed (available as a mobile app, and all the services that we offer you via this “App” and this “Website”.
		  </p>
			
      <p>
        <b>Grounds for processing your Personal Data</b><br>
        We process your personal data first and foremost so that we can carry out our contractual commitments towards you. This means typically for the purpose for you to find your ideal partner, such as age, gender, length and so on. In addition we process Personal Data to comply with legal obligations. We also process your Personal Data for legitimate interests such as allowing our other members to view your Personal Data, conducting an analysis of your browsing pattern and history, and allowing our access, payment and photo business partners to process your Personal Data.
		  </p>
			
      <p>
        Sometimes we need your consent to process Personal Data, such as for sending you newsletters and promotions. Before you can register via our App and Website we also ask for your explicit consent so that we can:
		  </p>
			
      <p>
				<li>Place tracking cookies (as described further on)</li>
				<li>Process sensitive data that you may enter about your partner preferences</li>
				<li>Process photographs from and about you</li>
				<li>Process your geolocation</li><br>
				Offer you those services in this Privacy Policy that specifically require an act of consent from you. 
				You have the right to at any time to withdraw your consent for those acts of processing relying on consent, however this will not affect and prior processing of your Personal Data.
		  </p>
			
      <p>
        <b>Are you younger than eighteen years old?</b><br>
        If you are younger than eighteen years old, you cannot make use of our App and Website.
		  </p>
			
      <p>
        <b>Which Personal Data do we process?</b><br>
        Before you can use our App and Website, we will ask you to register. In this respect, you will have to provide us with your username and email address, which data we will process.<br><br>
				After registering, you can create your personal Properdeed account (“Your Account”). In this respect, you are invited to provide us with your first name, pictures of you, a description of yourself, your wishes regarding a partner and basic information about yourself (such as your age, height, place of residence). We will process these data.<br><br>
				You can also choose to create Your Account through Facebook Connect or LinkedIn Connect. By using Facebook Connect or LinkedIn Connect, you allow these platforms to share with us the (personal) data you have shared with said platforms – such as Your Account name, pictures, wall posts and friend information. We will process these data.<br><br>
				After creating Your Account, you will be put on our waiting list for approval. Only after you are approved as a member of Properdeed, Your Account will be visible for other members. While still on our waiting list, we save the Personal Data you have provided us with. If you want to be removed from our waiting list and want us to erase your Personal Data – please send us an email via  sergepedroza@gmail.com. Please note that in case of overdue payments, we will however need to retain your email address for communication purposes.<br><br>
				Furthermore, we will process your IP address, login information, customer service history, time zone settings, browser language and – if you have given us explicit permission – your geolocation.<br><br>
				In conclusion, please be informed that we take photographs during events which we organize which may include pictures of you and we may use these photographs for promotional purposes.
		  </p>
			
      <p>
        <b>How do we use your Personal Data?</b><br>
				We do not sell your Personal Data to third parties<br><br>
				We will only share your Personal Data with other members, and only to the extent necessary to assess whether another member might be interesting for you –  which will be clarified below.<br><br>
				We will only disclose your Personal Data to third parties if we are legally obliged to do so by a statutory authority with the appropriate jurisdiction.
		  </p>
			
      <p>
        <b>Data on Your Account:</b><br>
				Only if you are approved as a member of Properdeed, Your Account will be visible for other members via the App and Website. Your first name will be the identity by which you are known on our contacts platform. The description of yourself, your wishes concerning a partner and basic information about yourself (such as age, height, profession) will be accessible via Your Account. Members of Properdeed can perform targeted searches on the basis of first name, height, age and other information that members share via their accounts.<br><br>
				If you have created Your Account using Facebook Connect or LinkedIn Connect, the data you have shared with these platforms (see above) will also be linked to Your Account. If other members have also used Facebook Connect or LinkedIn Connect, you may see which mutual connections you and other members have.
				We advise you to be careful with sharing information via Your Account with other members.
		  </p>
			
      <p>
        <b>Your login information</b><br>
				We will process and store your login information to verify your identity to access Your Account. In the event that you have forgotten your password, you may reset your password by visiting the login page and clicking "I forgot my password" and following the instructions to reset your password.
		  </p>
			
      <p>
        <b>Your email address:</b><br>
				We do not share your email address with third parties, and we will in particular never share your email address with other members of Properdeed.<br><br>
				We use your email address to:
				<li>keep you informed of your membership status;</li>
				<li>notify you of new messages and other activity regarding Your Account;</li>
				<li>point out accounts of other members that might be interesting for you;</li>
				<li>keep you informed on events which we organize;</li>
				<li>contact you with regard to (overdue) payments and other troubleshooting.</li>
		  </p>
			
      <p>
        <b>Your geolocation and residence:</b><br>
				We will share your current residence to make it insightful to our members whom live or work nearby. We will never share your zip code with other members of Properdeed.
				You can also choose to share your geolocation, which will enable you to see which other members of Properdeed are nearby at a particular moment. Your geolocation will be shared with other users that have shared their geolocation. Please note that we never share accurate geolocations with Properdeed members – the accuracy is limited to 50 meters.
		  </p>
			
      <p>
        <b>Your date of birth:</b><br>
				We will use your date of birth to calculate your age, which will be shown on Your Account. We will also use your date of birth to show on Your Account when it is your birthday.
		  </p>
			
      <p>
        <b>Photographs, pictures you upload:</b><br>
				When creating Your Account, it is necessary to upload pictures of yourself and to select an account picture. We use an external face recognition tool to automatically select the best pictures for Your Account. This selection is based on features like picture quality, composition and safety of the person displayed. If you connect Your Account to Facebook Connect, the pictures will be selected from the last ten pictures you posted on your Facebook profile. 
				The pictures that you upload will be displayed to other members. Account pictures may also be included in email messages from Properdeed to other members, if Properdeed considers you to be a good match with that member.
				Your Account (including picture) might be displayed on the shielded homepage of Properdeed. Your Account may also be tagged in pictures that appear in shielded areas on the Website, App, Facebook, Instagram or any other media. Shielded means that the displayed content will only be visible for other members of Properdeed. From time to time, we send promotional emails to members featuring selected accounts.
				Photographs taken at events organized by us may be used for promotional purposes. In this respect, we will of course consider your privacy. By way of example, we try to use such photographs for marketing purposes in other countries than where the event took place.
		  </p>
			
      <p>
        <b>Browser language and IP address:</b><br>
				We use the data about your browser language in order to address you in a language you speak. Your IP address and time zone settings helps us to determine which events that we organize might be interesting for you.
		  </p>
			
      <p>
        <b>Your (chat) messages:</b><br>
				Your (chat) messages are strictly confidential. We only process your (chat) messages in order to give you access to your chat-history.
				Please note that we do use filter software that notifies us of (chat) messages with inappropriate content (e.g. offensive or aggressive language, or unlawful use of our platform for advertisements or link-building. Also see the enumeration under the heading “Restrictions on information and content” in our terms and conditions). After such notification we reserve the right to erase the inappropriate content.
		  </p>
			
      <p>
        <b>Your customer service history:</b><br>
				If you contact us, we keep a record of your correspondence with our customer service, such in order to optimize our service level towards you.
		  </p>
			
      <p>
        <b>Non-Personal Data:</b><br>
				We may also process non-Personal Data whenever you interact with our Website or App. This data may include your browser type and version, the type of your computer and technical information about your means to connect to our Websites (such as your operating system and platform, and the utilized internet service providers). 
		  </p>
			
      <p>
        <b>Push notifications from Properdeed:</b><br>
				If you have given us explicit permission via our App, we will send you push notifications via our App to inform you about your membership status and to notify you of new messages and other activity regarding Your Account. We may also send you push notifications with suggestions of people you might like and events that are organized in or nearby your place of residence. 
		  </p>
			
      <p>
        <b>Third-party service providers:</b><br>
				We may need to share Personal Data with third-party service providers to assist us in operating the Website and/or to conduct some processing of your information on our behalf as described below. 
				For payments made via our Websites, we e.g. use third-party services such as Adyen and Paypal. These third parties are contractually obliged not to use any data for any other purpose than to effectuate the payment.
				For the selection of your profile pictures, we use external software (Face API)., specifically face API’s. In this respect the external software provider act as a Data Processor, i.a. meaning that they are contractually obliged not to use your information for any other purposes than to help us effectuate and improve the selection of user pictures within the context of our Website and Apps. 
		  </p>
			
      <p>
        <b>Invite friend:</b><br>
				If you use the ‘Invite friend'-feature to invite someone to Properdeed, we will send an email message to the email address you submitted to us. We won't share this email address with anyone else. We will tell the recipient that you have asked us to send this message. By choosing to use the ‘Invite friend’-feature you confirm that your friend is happy to receive the email. You also hereby agree to indemnify and hold Properdeed harmless from all claims arising out of your messages to any person through Properdeed. You must and will not use our ‘Invite friend’-feature to send spam.
		  </p>
			
      <p>
        <b>Cookies</b><br>
				We – and the third parties mentioned below - may use cookies to enhance your experience when you use our Website: they help us to improve our Website and to deliver a better and more personalized service. This includes remembering your login details, speeding up your searches, and recognizing you when you return to our Website.<br>
				A cookie is a small text file, containing a string of characters that can be placed on your device when you visit a website. This text file uniquely identifies your browser or device. When you visit our Website again, the cookie allows our Website to recognize your browser or device. You can change your cookie settings in your browser, if you don’t want cookies to be sent to your device. Please note that some features or services of our Website may not function properly without cookies. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our Website.<br><br>
				
				<b>We use the following types of cookies on our Website:</b><br>
				
				<b>Technical cookies:</b><br>  
					These are cookies that are essential for the operation of our Website, they enable you to move around our Website and use our features.<br><br>

				<b>Analytical/statistical cookies: </b><br> 
					We use these cookies to track visitor statistics. We use these statistics to continuously improve our Website and mailings, and thus offer you relevant content. These cookies also allow us to recognize and count the number of visitors and to see how visitors navigate when they are using our Website. This helps us to improve user navigation and ensure users to find what they need more easily.<br><br>

				<b>Tracking cookies:</b><br> 
				These cookies monitor clicking behaviour and surfing habits. By means of these cookies we can inter alia see whether and when you view Your Account, and whether you click through to our Website.<br><br>

				<b>Third party cookies</b><br>
				The following third parties may make use of cookies when you visit our website. 
				<li>Facebook (login, registration)</li>
				<li>Adjust (attribution)</li>
				<li>Branch.io (deeplinks in apps)</li> 
				<li>Google Firebase and Google analytics (analytics)</li>
				<li>NewRelic (performance, crashes analytics)</li>
				<li>Fabric (performance, crashes analytics in apps)</li>
				<li>Adyen (payments on website)</li>
				<li>Amazon Web Services (AWS, hosting)</li>
		  </p>
			
			<p>
        <b>How do we protect your Personal Data?</b><br>
				We work hard to protect your Personal Data from unauthorized or unlawful access, alteration, disclosure, use or destruction. We encrypt our services using SSL, the data are only accessible through a secret password and digital signatures, and our employees only have access to your data on a need-to-know basis. Unfortunately, the transmission of information via the internet is not completely secure. Although we will take all reasonable measures, we cannot guarantee the security of your data transmitted to our Website; any transmission is at your own risk.
			</p>
			
			<p>
        <b>How long do we retain your Personal Data?</b><br>
				We retain your Personal Data no longer than strictly necessary or as long as allowed by law, whichever is shorter. In case you have not logged in to your profile for five years, we will in any case erase your Personal Data from our records. Of course, you can always contact us with a request to delete you from our records.
			</p>
			
			<p>
        <b>Changes to this Privacy Policy</b><br>
				We are constantly looking for new ways to improve this Website. We may unilaterally update this Privacy Policy from time to time. When we change this Privacy Policy in a significant way, we will post a notification on our Website along with the updated Privacy Policy and also send you a notification and ask you to agree to this Privacy Policy before you can continue your use of our Website. We will also notify you via our App, and request you to accept the updated Privacy Policy before you can continue your use of our App.
			</p>
			
			<p>
        <b>Your rights</b><br>
        <b>You have the right to:</b><br>
				request access to your Personal Data and we will send you a copy of the Personal Data which we have processed about you;
				request us to correct, update or erase your Personal Data in our records. If you want to be “forgotten”, please note that removing our app from your mobile device does not have the effect that you will be erased from our records. If you want to be “forgotten” – please contact us so we can assist you;
				request us to restrict any processing and you can object to any processing of your Personal Data;
				request us to port your Personal Data; 
				If you have any questions, comments or concerns about how we as controller handle your Personal Data, please contact us at  sergepedroza@gmail.com.
			</p>
			
			<p>
        Please note that you can also view, edit or delete your Personal Data by logging in to your personal account. When you delete your account, your personal data will be deleted. We only keep your email-address in order to be able to contact you with regard to payment matters. For internal use, we will keep generic, non-personal data regarding your activity as a member (number of people invited, number of logins, term of your subscription, payment method).
			</p>
		
    </div>
  </div>
</div>